:root {
    --mainColour: rgb(15, 126, 5); 
    --secondaryColour: black;
    --backgroundColour: lightblue;
}

* {
    border: 0%;
    padding: 0%;
}

h1, h2, h3, h5, p {
    text-align: center;
}
h1 {
    color: var(--mainColour);
    background-color: var(--backgroundColour);
    padding: 1vh;
    border-radius: 10px;
}
.h1background {
    padding: 0 35% 0 35%;
}
h2 {
    text-decoration: underline;
}
h3 {
    color: var(--mainColour);
}
.textcontainer {
    background-color: var(--backgroundColour);
    padding: 1vh 25px 1vh;
    margin: 0 15% 0 15%;
    border-radius: 10px;
}
